/* Body Style */
body{
  background-color: #D8DDEF;
  margin: 75px 100px;
  font-family: 'Vollkorn', serif;
}

.container{
  max-width: 600px;
  margin: 0 auto;
}

/* Title Style */
h1{
  font-size: 42px;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  color: #574B90;
  text-shadow: 2px 2px rgba(87, 75, 144, 0.3);
  line-height: 1.5;
}

/* Form Style */
.form-container{
  background-color: #ECEFFF;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(87, 75, 144, 0.15);
  
}

form{
  display: flex;
}

.theme-input{
  padding: 16px;
  font-size: 16px;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  border: 2px solid #88B04B;
  border-radius: 50px;
  width: 70%;
  line-height: 1.5;
  margin-right: 10px;
  color: #405B2D;
  transition: border-color 0.3s ease-in-out;
}

.theme-input:focus{
  outline: none;
  border-color: #6C8E2F;
  box-shadow: 0 0 8px rgba(167, 212, 155, 0.3);  
}

.submit-button{
  font-family: 'Vollkorn', serif;
  padding: 16px;
  font-size: 16px;
  border: 2px solid #6C8E2F;
  border-radius: 50px;
  background-color: #88B04B;
  color: #FFFDF8;
  cursor: pointer;
  transition: all 400ms ease;
  box-shadow: 0 0 0 transparent;
}

.submit-button:hover{
  background-color: #6C8E2F;
  color: #FFFDF8;
  box-shadow: 0 0 12px 2px rgba(136, 176, 75, 0.4);
}

.input-example{
  opacity: 0.4;
  margin-left: 20px;
  padding-top: 5px;
  line-height: 2;
  font-size: 12px;
}

/* Poem Style */
.poem-container{
  background-color: #ECEFFF;
  display: flex;
  border-left: 5px solid #A45D6D;
  padding: 5px 5px 20px 5px;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(87, 75, 144, 0.15);
}

.quote{
  font-size: 80px;
  color: #A45D6D;
  font-family: 'Cinzel Decorative', cursive;
  padding-left: 10px;
  padding-right: 15px;
}

.poem{
  color: #4C4F65;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  padding-right: 5px;
  margin-left: 5px;
  font-style: italic;
  margin-right: 10px;
}

.poem strong{
  color: #574B90;
  padding-bottom: 10px;
  line-height: 2;
  font-style: normal;
  font-size: 16px;
}

.hidden{
  display: none;
}

/* Footer Style */
footer{
  background-color: #F9E5EA;
  color: #2C2E3A;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

a{
  color: #C77900;
}

a:hover{
  color: #A65F00;
}

/* Animations */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}